:root {
    --light-blue-100: #F3F5FC;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --gray-100: #CED4DA;
    --gray-400: #495057;
    --gray-500: #343A40;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-weight: 400;
    font-size: 16px;
}

body {
    background-color: var(--light-blue-100);
    width: 1440px;
    height: 1024px;
}

main {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.logo-section {
    width: 120px;
    height: 944px;
    margin: 40px 0 0 40px;
}

.logo-section svg {
    width: 100%;
    height: 48px;
}

.input-section {
    width: 680px;
    height: 944px;
    margin-top: 40px;
    margin-left: 80px;
}

.input-text-box {
    width: 100%;
    height: 650px;
    margin-top: 128px;
}

#input-text {
    width: 676px;
    height: 100%;
    resize: none;
    background-color: var(--light-blue-100);
    border: none;
    font-size: 32px;
    color: var(--dark-blue-300);
}

#input-text::placeholder {
    color: var(--dark-blue-300);
}

#input-text:focus{
    outline: none;
}

.input-advice {
    display: inline-flex;
    align-items: center;
    margin-top: 32px;
    font-size: 12px;
    color: var(--gray-400);
}

.input-advice svg {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.button-group {
    width: 100%;
    margin: 16px auto 0 auto;
}

#encoder {
    background-color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    width: 328px;
    height: 67px;
    margin-right: 19px;
    padding: 24px;
    border-radius: 24px;
    color: white;
}

#encoder:hover {
    font-weight: 450;
    background-color: var(--dark-blue-400);
}

#encoder:not(:active) {
    transition: scale 0.01s, background-color 0.3s;
}

#encoder:active {
    scale: 0.95;
}

#decoder {
    background-color: var(--light-blue-100);
    border: 1px solid var(--dark-blue-300);
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    color: var(--dark-blue-300);
}

#decoder:hover {
    border-color: var(--dark-blue-400);
    font-weight: 450;
}

#decoder:not(:active) {
    transition: scale 0.01s, border-color 0.3s;
}

#decoder:active {
    scale: 0.95;
}

.output-section {
    width: 400px;
    height: 944px;
    margin: 40px 0 0 80px;
    border-radius: 32px;
    background-color: white;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 8%);
}

.coded-text {
    display: none;
}

.coded-text-box {
    width: 336px;
    height: 780px;
    margin: 32px auto 0 auto;
    color: var(--gray-400);
    font-size: 24px;
}

#output-text {
    width: 332px;
    height: 100%;
    resize: none;
    background-color: white;
    border: none;
    color: var(--gray-400);
    font-size: 24px;
}

#output-text:focus{
    outline: none;
}

#copier {
    width: 336px;
    height: 67px;
    background-color: white;
    border: 1px solid var(--dark-blue-300);
    align-self: baseline;
    border-radius: 24px;
    margin: 32px calc((100% - 336px) / 2);
    padding: 24px;
    color: var(--dark-blue-300);
}

#copier:hover {
    border-color: var(--dark-blue-400);
    font-weight: 450;
}

#copier:not(:active) {
    transition: scale 0.01s, border-color 0.3s;
}

#copier:active {
    scale: 0.95;
}

.missing-text {
    text-align: center;
    color: var(--gray-500);
}

.missing-text svg {
    margin-top: 243px;
}

.missing-message {
    width: 336px;
    height: 122px;
    margin: 32px auto 0 auto;
}

.missing-text h2 {
    font-size: 24px;
    font-weight: 700;
}

.missing-text p {
    color: var(--gray-400);
    margin-top: 16px;
}